
petslist.xcodeproj/project.xcworkspace/xcuserdata/andreybashta.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
petslist.xcodeproj/xcuserdata/andreybashta.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
